app/workflows/stars.json
{
  "name": "stars",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.github.com/repos/airscripts/awesome-steam-deck",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        112
      ],
      "id": "788ddeaa-a2b0-4f3c-975c-1488b7f0aad8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM github.repositories WHERE stars < {{ $json.stargazers_count }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        112
      ],
      "id": "b8c66f6e-0ca8-4872-9e3d-c33ef066f5d6",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "RHD1CNyuzveJ7tKD",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e4abb60-45a4-4b2e-9ba4-0ac618fa415c",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ],
      "id": "71845c5b-9526-4dfa-8338-3b0ba3c06aa9",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e2812cab-1591-4e25-8767-af3f070f7af5",
      "name": "Noop"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE github.repositories\nSET stars = {{ $('HTTP Request').item.json.stargazers_count }}\nWHERE repository = 'awesome-steam-deck';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        208
      ],
      "id": "32676810-add8-4a9e-944a-588fc91654ae",
      "name": "Update Stars",
      "credentials": {
        "postgres": {
          "id": "RHD1CNyuzveJ7tKD",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "stars@airscript.it",
        "toEmail": "francesco@airscript.it",
        "subject": "A star is born!",
        "html": "=You've got a new star and reached {{ $('HTTP Request').item.json.stargazers_count }} in total.\nPreviously there were {{ $('Postgres').item.json.stars }} stars.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        224,
        208
      ],
      "id": "9c728ce7-7b93-46d8-93b1-748ead21cf7f",
      "name": "Send Email",
      "webhookId": "2408d846-d2dc-4afe-af3f-475ffd2275c3",
      "credentials": {
        "smtp": {
          "id": "5irRVqrWZZXwC4QK",
          "name": "Mailgun"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        112
      ],
      "id": "6d1cb347-5a68-4c81-bb72-bc62b3d943c4",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Noop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Stars": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8514b3c0-ebfe-46e1-8297-5d679c837990",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d09016cf748ffbf0a91b795646f54664a6fecb34bdc5336e069742b788e39f30"
  },
  "id": "twZ2nDpEpqJVOdFX",
  "tags": [
    {
      "createdAt": "2025-08-22T14:41:22.613Z",
      "updatedAt": "2025-08-22T14:41:22.613Z",
      "id": "V8yT7OMGaBYz6Ccb",
      "name": "github"
    }
  ]
}
