automations/followers.json
{
  "name": "followers",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.github.com/users/airscripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        112
      ],
      "id": "b2eab409-c909-4d85-8baa-874dbe921752",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM github.profiles WHERE followers < {{ $json.followers }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        112
      ],
      "id": "949beae0-c396-42e8-a7bd-35fce125e4f5",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "RHD1CNyuzveJ7tKD",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e4abb60-45a4-4b2e-9ba4-0ac618fa415c",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ],
      "id": "43964c16-ef9d-4a23-aee6-96913d4c526d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c7136eae-6e48-45da-aaf1-baf786931fe3",
      "name": "Noop"
    },
    {
      "parameters": {
        "fromEmail": "followers@airscript.it",
        "toEmail": "francesco@airscript.it",
        "subject": "Watchout! They're following you!",
        "html": "=You've got a new follower and reached {{ $('HTTP Request').item.json.followers }} in total.\nPreviously there were {{ $('Postgres').item.json.followers }} followers.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        224,
        208
      ],
      "id": "48d3ad51-1add-467a-9489-d7cc1085addd",
      "name": "Send Email",
      "webhookId": "ade490a5-b7a3-4031-a8a4-0d1aa1b6ce9f",
      "credentials": {
        "smtp": {
          "id": "5irRVqrWZZXwC4QK",
          "name": "Mailgun"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        112
      ],
      "id": "3baf5d8a-6bb2-4247-b24f-a9bf68e00770",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE github.profiles\nSET followers = {{ $('HTTP Request').item.json.followers }}\nWHERE username = 'airscripts';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        208
      ],
      "id": "e66b5fed-b31b-443a-a2e4-d0b4a6ba0003",
      "name": "Update Followers",
      "credentials": {
        "postgres": {
          "id": "RHD1CNyuzveJ7tKD",
          "name": "Supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Noop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Followers": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e84b901b-59ff-4437-8d98-a42e19465b1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d09016cf748ffbf0a91b795646f54664a6fecb34bdc5336e069742b788e39f30"
  },
  "id": "Z2ZjyeENeJKMuFjl",
  "tags": [
    {
      "createdAt": "2025-08-22T14:41:22.613Z",
      "updatedAt": "2025-08-22T14:41:22.613Z",
      "id": "V8yT7OMGaBYz6Ccb",
      "name": "github"
    }
  ]
}
