automations/followers.json
{
  "name": "followers",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.github.com/users/airscripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "9c4f283e-6b96-4f13-bc4c-8dccb1d6334b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM github.profiles WHERE followers < {{ $json.followers }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        0
      ],
      "id": "b61e4005-1a15-482c-8f65-91d2230d17ee",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QmGICv4JYrcz7EHt",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e4abb60-45a4-4b2e-9ba4-0ac618fa415c",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "727b77c4-8339-4234-a1f7-7858e530778d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ],
      "id": "29d2c224-4f70-4663-9c2d-5dabb9ac175a",
      "name": "Noop"
    },
    {
      "parameters": {
        "fromEmail": "followers@airscript.it",
        "toEmail": "francesco@airscript.it",
        "subject": "Watchout! They're following you!",
        "html": "=You've got a new follower and reached {{ $('HTTP Request').item.json.followers }} in total.\nPreviously there were {{ $('Postgres').item.json.followers }} followers.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        100
      ],
      "id": "adbb8b89-0601-4f6b-bf5c-596022578fd9",
      "name": "Send Email",
      "webhookId": "ade490a5-b7a3-4031-a8a4-0d1aa1b6ce9f",
      "credentials": {
        "smtp": {
          "id": "H6n3acHf2Fo1G6OO",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "2832b3ff-1daa-451a-9a1a-2ff7aaec731e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE github.profiles\nSET followers = {{ $('HTTP Request').item.json.followers }}\nWHERE username = 'airscripts';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        100
      ],
      "id": "8d01b764-de22-4ce8-bb3c-8933ff5edfc9",
      "name": "Update Followers",
      "credentials": {
        "postgres": {
          "id": "QmGICv4JYrcz7EHt",
          "name": "Supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Noop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Followers": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38150428-5eca-474f-8514-a0c6c12f23a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b40f16c220ede9fe499e33124a89f30a53fc84a9ea130f3b0ab10a2020a06b6c"
  },
  "id": "AVVkoUpQzrJMnI4i",
  "tags": [
    {
      "name": "github",
      "id": "KeA96rO2MLItSgUW",
      "createdAt": "2025-06-06T23:24:10.086Z",
      "updatedAt": "2025-06-06T23:24:10.086Z"
    }
  ]
}